<form>

  <h1>What would you like to copy today?</h1>

  <p>Copy a GitHub repository, as if you ran <code>git clone</code> and <code>git push</code> locally</p>

  <input id="repo" type="text" name="repo" />

  <div class="helper-text">
    e.g., https://github.com/benbalter/copy-to or benbalter/copy-to
  </div>

  <input type="submit" class="btn btn-primary" id="next" value="Next" />

</form>
