.avatar { width: 25px; }
body {font-size: 2em;  margin-top: 100px;}
.index, .not_found {text-align: center;}
.index #repo { width: 500px; height: 60px; font-size: 2em; margin-top: 50px; text-align: center; }
.copy #repo { width: 150px; }
.helper-text { font-style: italic; color: #aaa; font-size: 1em;}
#next {margin-top: 50px; }
.hidden {display:none;}
.heading {font-weight: bold; text-align: right; }
.copy .row {margin-top: 25px; }
.success { text-align: center; }
